.wrapper {
  margin-top: 525px;
  width: 1137px;
  height: 626px;
  margin-left: 209px;
  display: flex;
  flex-direction: column;
  color: var(--color-white);
  /* border: 1px solid red; */
}
.heading {
  width: 374px;
  height: 154px;
  font-size: 54px;
  font-weight: 600;
  margin-bottom: 50px;
}
.rapper {
  display: flex;
  justify-content: space-between;
}

.square {
  color: var(--color-white);
  width: 359px;
  height: 368px;
  margin-top: 50px;
  background-color: var(--color-primary);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border: 1px solid #ffffff1a;
  border-radius: 14px;
}
.newSqur {
  color: var(--color-white);
  width: 359px;
  height: 368px;
  margin-top: 50px;
  border: 1px solid purple;
  background-color: #2e2e2e;
  display: flex;
  flex-direction: column;
  border-radius: 14px;
  border: 1px solid #ffffff1a;
}
.img {
  width: 105px;
  height: 102px;
  margin: 30px;
}

.name {
  width: 148px;
  height: 24px;
  font-size: 24px;
  font-weight: 600;
  display: flex;
  align-items: center;
  color: var(--color-white);
  margin-top: 10px;
  margin-left: 29px;
}
.company {
  width: 80px;
  height: 24px;
  font-size: 14px;
  font-weight: 400;
  display: flex;
  align-items: center;
  color: var(--color-white);
  margin-left: 29px;
  margin-top: 10px;
}
.paragraph {
  width: 293px;
  height: 92px;
  font-size: 14px;
  opacity: 50%;
  margin-left: 29px;
}
