.wrapper {
  margin-top: 150px;
  width: 1140px;
  height: 629px;
  margin-left: 207px;
  color: var(--color-white);
  display: flex;
  justify-content: space-between;
}
h1 {
  font-size: 54px;
  font-weight: 600;
}
p {
  font-size: 18px;
  font-weight: 500;
}

.accor {
  /* border: 1px solid red; */
  width: 564px;
  height: 540px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  /* gap: 20px; */
}
.rapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.acc {
  font-size: 24px;
  background-color: var(--color-primary) !important;
  color: white !important;
}
.content {
  font-size: 15px;
  background-color: var(--color-primary) !important;
  color: white;
}
