.wrapper {
  margin-top: 242px;
  width: 1440px;
  height: 367px;
  margin-left: 40px;
  background-color: var(--color-black);

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.rapper {
  display: flex;
  justify-content: space-around;
}
.zero {
  display: flex;
  justify-content: center;
  gap: 20px;
}
