.wrapper {
  margin-top: 186px;
  width: 1156px;
  height: 425px;
  margin-left: 198px;
  color: var(--color-white);
}
.heading {
  width: 253px;
  height: 77px;
  font-size: 54px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  margin: auto;
  padding-bottom: 50px;
}
/* .rapper {
  display: flex;

  justify-content: space-around;
} */
Avatar {
  padding-left: 19px;
}
.box {
  width: 344px;
  height: 109px;
  padding: 0 0 0 30px;
  display: flex;
  /* justify-content: space-evenly; */
  align-items: center;
  padding-right: 10px;
  background-color: transparent;
  border: transparent;
}
.details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.name {
  font-size: 24px;
  font-weight: 600;
  color: var(--color-white);
}
.img {
  width: 68px;
  height: 68px;
}
.case {
  font-size: 14px;
}
.yello {
  font-size: 24px;
  font-weight: 600;
  color: var(--color-black);
}
.edit {
  margin-right: 10px;
  margin-left: 25px;
}
